.pie-chart-holder {
  display: inherit;
  position: relative;

  .pie-chart {
    display: flex;
    width: 32px;
    height: 32px;

    circle {
      stroke-width: 5;
      cx: 21;
      cy: 21;
      r: 15.91549430918954;
    }
  }

  .dots-holder {
    justify-content: space-between;
    display: flex;
    width: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .single-dot {
      background-color: #414042;
      width: 3px;
      height: 3px;
      border-radius: 100%;
    }
  }

  .legend {
    margin-left: 10px;
    font-size: 14px;
    
    &__information {
      display: flex;
      justify-content: space-between;
      align-content: center;

      span {
        display: inherit;
        align-items: center;
      }

      &__color {
        border-radius: 100%;
        width: 6px;
        height: 6px;
        margin: 0 5px;
      }
    }
    
  }
}
