.charts-section {
  overflow: auto;
  display: flex;

  .chart-section {
    flex: 0 0 100%;
  }
}

.chart-timeline-holder{
  flex: 0 0 100%;
}

.pie-charts-holder {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  background-color: #f3f4f4;
  padding: 10px 31px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}